
body{

background-color: rgb(164, 166, 156,1);
background-color: linear-gradient(230 deg);
font-family:Helvetica ;
text-align:center;


font-size:19px;
line-height: 1.5em;
}
.container{
  width=80%;

}
.box1{

  background-color: ;

}

.box1 h2{

  font-family: tahoma;
  font-style: italic;

  text-transform: uppercase;
}
.box1 p{

  font-family: tahoma;
  font-style: italic;
  text-decoration: italic;

}
.categories ul{
  text-align: center;
  padding-left: 0;

  list-style: none;


}
.button{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover{
  color:rgb(229, 255, 89);
}
a:visited{
  color:rgb(193, 5, 245);
}
a:active{
  color:rgb(245, 5, 21);
}

.myform input[type="text"], .myform textarea{
  padding:10px;
  width: 40%;
}

.myform input[type="submit"] {

padding:10px;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  border:none;
}
.myform input[type="textarea"]{
  padding:10px;
  width: 40%;
  border:none;

}
.fixme{
  position: fixed;
  top: 400px;

}
.bu{
  float: left;
}
